@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Your Custom CSS Here */
:root {
  --pico-font-family-sans-serif: 'Inter', sans-serif;
  --pico-font-family-monospace: 'Roboto Mono', monospace;
}

html, body {
  font-family: var(--pico-font-family-sans-serif);
  height: 100%;
}

p, a {
  font-family: var(--pico-font-family-monospace);
}