<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="color-scheme" content="light dark" />
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Roboto+Mono:ital@0;1&display=swap"
			rel="stylesheet"
		/>

		<!-- Tailwind -->
		{tailwindcss}

		<!-- Pico CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.grey.min.css"
		/>
	</head>
	<body class="tw-max-w-screen-sm tw-px-4 tw-mx-auto tw-flex tw-flex-col">
		<include src="header.html"></include>
		<main class="tw-container tw-flex-1">{slot}</main>
		<include src="footer.html"></include>

		<!-- Alpine -->
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
		></script>
		<!-- Custom JS -->
		<script src="/assets/js/main.js"></script>
	</body>
</html>
